mat-toolbar {
  font: 24px bold;

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
}

mat-toolbar-row {
  width: 80%;
  margin: 0 auto;
}

.app-logo {
  // display: inline-block;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #fff;
  // margin-right: 500px;
}