<form [formGroup]="form">
  <input type="text"
         placeholder="Book Title"
         formControlName="title">

  <input type="text"
         placeholder="Book Author"
         formControlName="author">

  <select formControlName="list">
    <option [value]="null" disabled>Choose a list</option>
    <option *ngFor="let option of bookListOptions"
            [value]="option.name">{{option.displayName}}</option>
  </select>

  <button class="btn" (click)="onSubmit()">Add Book</button>
</form>
